src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="74288bc8-f8a9-49c8-b759-493eb39812d4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="c9e0b5e1-f1d0-4a61-bcd9-2605548fbea1" >
		<http:listener doc:name="Listener" doc:id="ff5af70e-67ab-4076-8f3e-a6bd94bfa525" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="#['hello i am testng']" doc:name="Set Payload" doc:id="4436cb1f-75b9-4c80-b01d-c60436a3f60e" />
	</flow>
</mule>
